.form {
  background-color: #fafafa;
  border-radius: 4px;
  width: 512px;
}

.formFlexible {
  composes: form;
  width: 100%;
}

.navigation {
  display: flex;
}

.navLink {
  align-items: center;
  background-color: rgba(0, 0, 0, .06);
  color: rgba(0, 0, 0, .54);
  display: flex;
  font-family: 'RobotoMedium';
  font-size: 16px;
  flex: 1;
  height: 56px;
  justify-content: center;
  text-decoration: none;
}

.activeNavLink {
  background-color: #fafafa;
  color: rgba(0, 0, 0, .87);
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 38px 0;
}